<h1 class="header-logo">
  <a href="/">Ost.io</a>
</h1>

<div class="header-links">
  <h4 class="header-link">
    <a href="{{#url "feed"}}{{/url}}">Feed</a>
  </h4>
</div>

<div class="header-auth">
  {{#if_logged_in}}
    {{#with_user}}
      <a href="{{#url "user" login}}{{/url}}"><img class="avatar header-avatar" src="{{#gravatar}}{{gravatar_id}}{{/gravatar}}"></a>
      <a href="{{#url "user" login}}{{/url}}">{{login}}</a>
      <a class="icon-cog" href="/settings"></a>
      <a class="icon-logout" href="/logout/"></a>
    {{/with_user}}
  {{else}}
    {{#with_config}}
      <button class="header-login-button button go-to" data-href="{{api.root}}/auth/github">Login with GitHub</button>
    {{/with_config}}
  {{/if_logged_in}}
</div>
