<h1 class="header-logo">
  <a href="/">Ost.io</a>
</h1>

<div class="header-links">
  <h4 class="header-link">
    <a href="{{#url "feed#show"}}{{/url}}">Feed</a>
  </h4>
</div>

<div class="header-auth">
  {{#if_logged_in}}
    {{#with_user}}
      <a href="{{#url "users#show" login}}{{/url}}"><img class="avatar header-avatar" src="{{#gravatar}}{{gravatar_id}}{{/gravatar}}"></a>
      <a href="{{#url "users#show" login}}{{/url}}">{{login}}</a>
      <a class="icon-cog" href="{{#url "settings#show"}}{{/url}}"></a>
      <a class="icon-logout" href="{{#url "auth#logout"}}{{/url}}"></a>
    {{/with_user}}
  {{else}}
    {{#with_config}}
      <a href="{{api.root}}/auth/github/?origin={{#loginUrl}}{{/loginUrl}}" class="header-login-button button noscript">Login with GitHub</a>
    {{/with_config}}
  {{/if_logged_in}}
</div>
