<h2>Your open source talks place</h2>
<p>Ostio is a forum for open-source projects and the best place for discussing project stuff with other users. It is tightly integrated with <a href="https://github.com/">GitHub</a>.</p>

<p>One of the main when creating ostio was to replace mailing lists. <strong>Mailing lists are broken!</strong>. They have ugly interface, you need to . Unfortunately, a lot of open-source projects currently still use mailing lists, because there was no replacement for it. Until now.</p>

<p>To start, just play with the <a href="/brunch/brunch">example project</a>. If you login with your GitHub account, you'll be able to create new posts / threads there and import your repositories.</p>
