<h2>Your open source talks place</h2>
<p>Ost.io ("open-source talks") is a forum for open-source projects and the best place for discussing project stuff with other users. It is tightly integrated with <a href="https://github.com/">GitHub</a>.</p>

<p>The main ost.io mission is to replace mailing lists. <strong>Mailing lists are broken!</strong>. They have ugly interface, most of the time you can't read all messages in a comfortable way (instead, you see a plain-text message). Unfortunately, a lot of open-source projects currently still use mailing lists, because there was no replacement for it. Until now.</p>

<p>To start, click on "Sign in with GitHub" button at the top. You'll be redirected to your account then. If you want to sync your repositories, press the button on your profile or profile of any of your organization. When logged in, you're able to create any thread &amp; post in any repo.</p>

<p>This project is open-source and available on GitHub: (<a href="https://github.com/paulmillr/ostio/">frontend</a>, <a href="https://github.com/paulmillr/ostio-api/">backend</a>). Follow <a href="http://twitter.com/paulmillr">@paulmillr</a> on twitter to get latest updates.</p>

<a class="screenshot-container" href="/paulmillr">
  <img class="screenshot" src="http://brunch.io/images/screenshots/ostio.png" alt="screenshot" />
</a>
