{{#if_logged_in}}
  {{#with_user}}
  <div class="topic-post-avatar-container">
    <img class="topic-post-avatar avatar" src="{{#gravatar}}{{gravatar_id}}{{/gravatar}}" alt="" />
  </div>
  <div class="topic-post-content">
    <div class="topic-post-header">
      <a class="topic-post-author" href="/{{login}}">{{login}}</a>      
      <em class="topic-post-metadata">Posts are parsed with <a href="http://github.github.com/github-flavored-markdown/" class="gfm-help">Markdown</a></em>
    </div>
    <div class="topic-post-text">
      <textarea class="topic-new-post-body" required></textarea>
      <button class="topic-new-post-create-button submit-form button">Comment on this topic{{#if_on_mac}} (⌘↩){{/if_on_mac}}</button>
    </div>
  </div>
  {{/with_user}}
{{else}}
  <p>You must be logged in to comment</p>
{{/if_logged_in}}