<div class="topic-post-avatar-container">
  <img class="topic-post-avatar avatar" src="https://secure.gravatar.com/avatar/d342e4ef045c54a6a6f41d070d8a0406" alt="" />
</div>
<div class="topic-post-content">
  <div class="topic-post-header">
    <a class="topic-post-author" href="#/">paulmillr</a>
    <em class="topic-post-metadata">Posts are parsed with <a href="http://github.github.com/github-flavored-markdown/" class="gfm-help">Markdown</a></em>
  </div>
  <div class="topic-post-text">
    <textarea class="topic-new-post-body"></textarea>
    <button class="topic-new-post-create-button save-form-data button">Comment on this topic</button>
  </div>
</div> 
