<input id="setting-email-notifications" name="setting-email-notifications" {{#if enabled_email_notifications}}checked{{/if}} type="checkbox">
<label for="setting-email-notifications">Enable email notifications</label>
<p>When checked, the setting will enable email notifications on new posts in your / your organizations repos</p>
