<div class="header-container" id="header-container"></div>

<div class="container outer-container">
  <div class="page-container" id="page-container">
    <div class="navigation-container" id="navigation-container"></div>
    <div class="content-container" id="content-container"></div>
  </div>
</div>
