<nav class="navigation">
  <h2>
    <a href="/{{login}}"><img class="topic-post-avatar avatar" src="{{#gravatar}}{{gravatar_id}}{{/gravatar}}" alt="" /></a>
    <a href="/{{login}}">{{login}}</a>
  </h2>
</nav>

<div class="user-repo-list-container"></div>
