<nav class="navigation">
  <h2>
    <a href="/{{username}}"><img class="thread-post-avatar avatar" src="{{#gravatar}}{{gravatar_id}}{{/gravatar}}" alt="" /></a>
    <a href="/{{username}}">{{username}}</a>
  </h2>
</nav>

<div class="user-repo-list-container"></div>
