// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'
@import '_theme'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing: border-box

.avatar
  width: 60px
  height: 60px
  border-radius: 5px

.header
  &-auth
    float: right
    margin-top: 2px
    .logged-out &
      margin-top: 7px
    // &-button
      
  &-avatar
    width: 30px
    height: 30px

.outer-container
  max-width: 950px
  margin: auto
  padding: 70px 20px 50px 20px

.page-container
  position: relative

.navigation
  > h2
    margin-bottom: 0

.topic
  &-posts
    position: relative
    top: -20px
    padding-top: 5px
  &-post
    position: relative
    padding-top: 20px
    clearfix()
    &-avatar-container
      position: relative
      display: block
      float: left
    &-content
      min-height: 60px
      margin-left: 70px
      padding: 0 5px 5px 5px
    &-author
      margin-right: 3px
      font-family: 'OpenSansBold', "Helvetica Neue", Helvetica, Arial, sans-serif
      font-weight: normal
    &-metadata
      float: right
      font-style: italic
  &-new-post
    &-body
      width: 100%
      height: 100px
      margin-top: 5px
    &-create-button
      margin-top: 10px
      float: right

.user
  &-repo-list
    padding-left: 20px
    li
      font-size: 25px

.repo
  &-topic-list-container
    margin-top: 10px
  &-topic
    padding: 10px 0
    border-image: url('../images/hr.gif') 3 0 repeat
    border-width: 3px 0 0 0
    &:last-child
      border-bottom-width: 3px


.new-topic-form
  padding: 10px 0
  &-fields
    height: 0
    visibility: hidden
    opacity: 0
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in
    &.visible
      height: auto
      visibility: visible
      opacity: 1
  &-toggle-fields-button
    &-container
      text-align: right
      position: absolute
      top: 0
      right: 0
      margin: 9px 0
  &-title, &-text
    padding: 6px
  &-title
    width: 50%
    font-size: 25px
    font-weight: bold
    color: #444
  &-text
    width: 100%
    height: 200px
    margin: 10px 0
  &-submit-button-container
    text-align: right
