<div class="post-text">
  <textarea class="edit-post-body" required>{{text}}</textarea>
  <div class="post-buttons">
    <button class="edit-post-cancel-button cancel-form button">Cancel</button>
    <button class="edit-post-save-button submit-form button">Save post{{showShortcut}}</button>
  </div>
</div>
