<div class="collection-indicator" style="display: none">
  <div class="loading"></div>
</div>
<div class="collection-fallback" style="display: none">
  <h2>No posts found</h2>
</div>
<div class="posts"></div>
