<div class="search-banner">
  <h2>Post search</h2>
  <input class="search-input" type="search" autofocus="true" />
</div>

<div class="post-list-container">
  <h4>Posts matching query “<span class="query-value">{{query}}</span>”</h4>
</div>
